<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tambahinaja">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.example.tambahinaja.MainApplication"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:ignore="LockedOrientationActivity">
        <activity android:name="com.example.tambahinaja.TutorialActivity"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".push_notification.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.example.tambahinaja.push_notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name="com.example.tambahinaja.home.CreditActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.home.MarketActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.play.PostGameActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.profile.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.rank.RankActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.play.OddEvenGameActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.play.WaitingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.leaderboard.LeaderBoardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.main.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.tambahinaja.PlayActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.play.CountdownActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.main.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.friends.AddFriendsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.friends.FriendsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.play.NormalGameActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.tambahinaja.main.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1388436725980010~2049118383" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>